@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
  }
  
  @layer utilities {
    .fade-in {
      @apply opacity-0 transition-opacity duration-700 ease-in-out;
    }
  
    .fade-in-active {
      @apply opacity-100;
    }
  }